ADMIN_PASSWORD=
ADMIN_WHATSAPP=
ADMIN_SEGMENT=
SEED_DEMO=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
# FRONTEND_URL=http://localhost:8080
JWT_SECRET=ABCDE-12345
JWT_EXPIRES_IN=1d
BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=
# MINIO_PORT=9000
MINIO_ENDPOINT=
MINIO_USE_SSL=true

# WhatsApp API Configuration (Evolution API)
WHATSAPP_API_KEY=
WHATSAPP_API_URL=
WHATSAPP_INTEGRATION=